<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="assets/js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input v-model="newTodoText"
				@keyup.enter="addNewTodo"
				placeholder="add a new todo"/>
			<ul>
				<li is="todo-item"
					v-for="(item,index) in items"
					:key="item.id"
					:title="item.title"
					@remove="items.splice(index,1)"></li>
			</ul>
		</div>
		<script>
			Vue.component("todo-item",{
				props:["title"],
				template:"<li>{{title}}<button @click=\"$emit(\'remove\')\">X</button></li>"
			});
			var vm=new Vue({
				el:"#app",
				data:{
					newTodoText:"",
					items:[
						{id:1,title:"Vue.js"},
						{id:2,title:"Python"},
						{id:3,title:"Es6"}
					],
					nextItemId:4
				},
				methods:{
					addNewTodo:function(){
						this.items.push({
							id:this.nextItemId++,
							title:this.newTodoText
						});
						this.newTodoText="";
					}
				}
			});
		</script>
	</body>
</html>
